//
footer a, nav a{
  color: $cinza-escuro!important;
  &:hover{
    text-decoration: none!important;
    color: $azul-claro!important;
  }
}

h6 > small {
  margin-left: 10px;
}

h6 p {
  display: inline;
}
//
//navbar correção na sobreposição do dropdown
.navbar{
    z-index: 9999;
}

//faixa de atividade
.faixa-atividade{
    padding: 15px;
}
//
#idTrack{
    margin-bottom: 5px;
}
//
.sombra {
    @include shadow-m;
  }
//
  .sombra:hover, .timeline > li > .timeline-panel:hover {
    @include shadow-m;
  }
//
